.character-card {
    background: black;
    width: 300px;
}

.character-info {
    margin: 10px;
}

.cast-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
}